{% load static %}
<header>
    <div class="container" id="nav-container">
        <nav class="navbar navbar-expand-lg fixed-top">
            <a href="{% url 'contabilidade:homepage' %}" class="navbar-brand">
                <img id="logo" src="{% static 'img/saco_dinheiro.svg' %}" alt="Saco de Dinheiro"> Família M&M
            </a>

            <!-- Botão hamburguer para aparecer no celular -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
                aria-controls="navbar-links" aria-expanded="false" aria-label="toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Barra de navegação -->
            <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" id="home-menu" href="{% url 'contabilidade:homepage' %}">Home</a>
                    <a class="nav-item nav-link" id="about-menu">Família</a>
                    <a class="nav-item nav-link" id="services-menu">Serviços</a>
                    <a class="nav-item nav-link" id="team-menu">Equipe</a>
                    <a class="nav-item nav-link" id="portfolio-menu">Projetos</a>
                    <a class="nav-item nav-link" id="contact-menu">Contato</a>
                </div>
            </div>
        </nav>
    </div>
</header>