<div id="contact-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="main-title">Entre em contato conosco</h3>
      </div>
      <div class="col-md-4 contact-box">
        <i class="fas fa-phone"></i>
        <p><span class="contact-tile">Ligue para: </span>(41) 99999-9999</p>
        <p><span class="contact-tile">Horário: </span>das 8:00 às 17:00</p>
      </div>
      <div class="col-md-4 contact-box">
        <i class="fas fa-envelope"></i>
        <p><span class="contact-tile">Mande um e-mail: </span>fmorae05@outlook.com</p>
      </div>
      <div class="col-md-4 contact-box">
        <i class="fas fa-map-marker-alt"></i>
        <p><span class="contact-tile">Venha tomar um café: </span>Rua Eugênio da Silva Lopes, 441 - Alto Boqueirão - Curitiba/Pr</p>
      </div>
      <div class="col-md-6" id="msg-box">
        <p>Ou nos deixe uma mensagem...</p>
      </div>
      <div class="col-md-6" id="contact-form">
        <form action="">
          <input type="email" class="form-control" placeholder="Seu e-mail" name="email">
          <input type="text" class="form-control" placeholder="Assunto" name="subject">
          <textarea class="form-control" rows="3" placeholder="Sua mensagem..." name="message"></textarea>
          <input type="submit" class="main-btn" value="Enviar">
        </form>
      </div>
    </div>
  </div>
</div>