{% load static %}
<!-- Página sobre a família -->
<div id="about-area">
    <div class="container">
        <!-- DIV com uma linha e doze colunas -->
        <div class="row">
            <div class="col-12">
                <h3 class="main-title">Sobre a família M&M</h3>
            </div>
            <!-- Colocando as colunas respeitando as medidas da tela -->
            <div class="col-md-6">
                <img src="{% static 'img/IMG-20191215-WA0001.jpg' %}" alt="Foto da família" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3 class="about-title">Família Moreira de Moraes</h3>
                <p>É uma família composta de 4 indivíduos muito fortes, prontos para qualquer eventualidade.</p>
                <p>Somos uma família muito unida e coesa, sempre pensando no futuro e guiados pelo Altíssimo.</p>
                <p>Estamos sempre dispostos a se ajudar em qualquer ocasião.</p>
                <p>Os membros da família são:</p>
                <ul id="about-list">
                    <li><i class="fa-solid fa-person-dress"></i>Rachel Moreira de Moraes</li>
                    <li><i class="fa-solid fa-person"></i>Fábio Rodrigues de Moraes</li>
                    <li><i class="fa-solid fa-person"></i>Victor Moreira de Moraes</li>
                    <li><i class="fa-solid fa-person-dress"></i>Mariana Moreira de Moraes</li>
                </ul>
            </div>
        </div>
    </div>
</div>