<!-- Dados financeiros(Parallax) -->
<div id="data-area">
  <div class="container">
    <div class="row">
      <div class="col-md-3 circle-box">
        <div id="circleA"></div>
        <p>Média de transações</p>
      </div>
      <div class="col-md-3 circle-box">
        <div id="circleB"></div>
        <p>Relatórios realizados</p>
      </div>
      <div class="col-md-3 circle-box">
        <div id="circleC"></div>
        <p>Consultas executadas</p>
      </div>
      <div class="col-md-3 circle-box">
        <div id="circleD"></div>
        <p>Média de pagamentos por mês</p>
      </div>
    </div>
  </div>
</div>