<!-- Um pouco de história -->
<div id="history-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 history-box" id="company-img"></div>
            <div class="col-md-6 history-box" id="pattern-img">
                <h4>Algumas palavras</h4>
                <p>Nosso controle financeiro familiar começou quando fomos verificar nossa conta-corrente a vários anos atrás e</p>
                <p>descobrimos que se eu fosse desligado da empresa, na época trabalhava para o HSBC estaríamos completamente</p>
                <p>sem dinheiro e com muitas dívidas.</p>
                <p>Resolvemos então criar o primeiro controle financeiro para colocar as contas em dia...</p>
                <a href="#" class="main-btn" id="history-btn">Saiba mais</a>
            </div>
        </div>
    </div>
</div>