{% load static %}
{% include 'partials/head.html' %}

<body>
    {% include 'partials/header.html' %}
    <main>
        <div class="container-fluid">
            <div id="mainSlider" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="120000">
                        <img src="{% static 'img/banner1.png' %}" class="d-block w-100"
                            alt="Lista de Contas Financeiras disponíveis">
                        <div class="carousel-caption d-none-d-md-block">
                            <h2>Contas Financeiras disponíveis</h2>
                            <p>Banco</p>
                            <a href="#" class="main-btn">Ver Portfólio</a>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="60000">
                        <img src="{% static 'img/banner2.png' %}" class="d-block w-100"
                            alt="Lista de Contas Financeiras disponíveis">
                        <div class="carousel-caption d-none-d-md-block">
                            <h2>Gostou do site?</h2>
                            <p>Quem sabe não queira algo parecido? Vamos conversar...</p>
                            <a href="#" class="main-btn">Entre em contato</a>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="30000">
                        <img src="{% static 'img/banner3.png' %}" class="d-block w-100"
                            alt="Lista de Contas Financeiras disponíveis">
                        <div class="carousel-caption d-none-d-md-block">
                            <h2>Contabilidade da Família M&M</h2>
                            <p>Este site fará o gerenciamento financeiro da família.</p>
                            <a href="#" class="main-btn">Mais informações</a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#mainSlider" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mainSlider" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</body>

</html>