<!-- Newsletter -->
<div id="news-area">
    <div class="container">
        <div class="col-md-12">
            <h3 class="main-title">Fique por dentro das novidades</h3>
        </div>
        <p>Assine nossa lista de e-mails e acompanhe o andamento dos projetos.</p>
        <form action="">
            <input type="email" class="form-control" name="email" id="email-input" placeholder="Seu melhor e-mail">
            <input type="submit" id="news-btn" value="Enviar">
        </form>
    </div>
</div>
<!-- Call to action -->
<div id="call-area">
    <div class="container">
        <div class="row">
            <p>Deseja enviar um recado?</p>
            <button class="main-btn" id="call-btn">Recado</button>
        </div>
    </div>
</div>
