<!-- Serviços realizados pelo sistema financeiro -->
<div id="services-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="main-title">Serviços Financeiros</h3>
      </div>
      <div class="col-md-4 service-box">
        <i class="fas fa-mobile-alt"></i>
        <h4>Telefone celular</h4>
        <p>O sistema pode ser utilizado em telefones celulares.</p>
      </div>
      <div class="col-md-4 service-box">
        <i class="fa-brands fa-readme"></i>
        <h4>Relatórios</h4>
        <p>Podem ser retirados relatórios de diversos tipos no sistema.</p>
      </div>
      <div class="col-md-4 service-box">
        <i class="fa-solid fa-marker"></i>
        <h4>Transações financeiras</h4>
        <p>Guarde todas as suas transações financeiras no sistema, ele está preparado para isso.</p>
      </div>
      <div class="col-md-4 service-box">
        <i class="fa-solid fa-cash-register"></i>
        <h4>Sumários por conta</h4>
        <p>Sumários mensais e anuais por qualquer conta que seja consultada.</p>
      </div>
      <div class="col-md-4 service-box">
        <i class="fa-solid fa-wallet"></i>
        <h4>Financiamento</h4>
        <p>Controle completamente os financiamentos feitos para poder tomar decisões futuras.</p>
      </div>
      <div class="col-md-4 service-box">
        <i class="fa-solid fa-mountain-sun"></i>
        <h4>Planejamento</h4>
        <p>Facilite seus planejamentos financeiros...</p>
      </div>
    </div>
  </div>
</div>